@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
  --neon: #b9fffc;
  --purple: #7579e7;
  --bright: #9ab3f5;
  --cold: #a3d8f4;
  --box-shadow: rgba(204, 204, 204, 0.75);
  --text: black;
  --light-text: white;
  --background: white;
}

.container {
  max-width: 1250px;
  height: auto;
  margin: 0 auto;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* loading bar */
.lds-ring {
  display: inline-block;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--purple) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.page_loader_parent {
  width: 64px;
  height: 64px;
}
.page_loader {
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--purple);
}
.button_loader_parent {
  width: 20px;
  height: 20px;
}
.button_loader {
  width: 16px;
  height: 16px;
  margin: 2px;
  border: 2px solid var(--purple);
}
/* loading bar css end */

@media only screen and (max-width: 1275px) {
  .container {
    max-width: 1080px;
  }
}
@media only screen and (max-width: 1100px) {
  .container {
    max-width: 901px;
  }
}
@media only screen and (max-width: 920px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}
.navbar_bottom_margin {
  margin-top: 70px;
}
